<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://vk.com/js/api/openapi.js?159" type="text/javascript"></script>
    <title>{{htmlWebpackPlugin.options.title}}</title>
</head>

<body>    
    <div id="homework-container">
        {{> "./src/templates/friends-content.hbs"}}
    </div>
</body>

</html>