<header class="header">
    <div class="header__logo">
        <a href="#" class="header__logo-link">
            <img src="img/loftschool-logo.png" alt="" id="header-logo" class="header__logo-pic">
        </a>
    </div>

    <h1 class="header__title">Список друзей</h1>

    <button id="header__user-btn-login" class="header__user-btn-login">Войти через ВК</button>
    <div class="header__user hide">
        <div class="header__user-img">
            <img src="#" alt="" class="header__user-img-pic">
        </div>
        <div class="header__user-name">
            {{ first_name }} {{ last_name }}
        </div>
        <button id="header__user-btn-logout" class="header__user-btn-logout">Выход</button>
    </div>

</header>