<div class="friend-list">
    {{#each items}}
        <div class="friend-item">
            <div>
                <img src="{{ photo_100 }}" alt="">
            </div>
            <p class="name">{{ first_name }} {{last_name}}</p>
        </div>
    {{/each}}
</div>