{{#each items}}
    <div class="friends__item">
        <div class="friends__item-img">
            <img src="{{ photo_100 }}" alt="" class="friends__item-img-pic">
        </div>
        <p class="friends__item-name">{{ first_name }} {{last_name}}</p>
        <button class="friends__item-btn">Добавить</button>
    </div>
{{/each}}