<div class="frends">
    <div class="friends-cols">
        <div class="frends-col__left">
            <div class="frends-col__title">
                <span class="frends-col__title-text">Ваши друзья</span>
                <span class="frends-col__title-count-all"></span>
            </div>
            <input id="frends-search__frends-all" class="frends-search__frends-all" type="text" placeholder="Начните вводить имя друга">
            <div id="friends__list-all" class="friends__list-all"></div>
        </div>
    
        <div class="frends-col__right">
            <div class="frends-col__title">
                <span class="frends-col__title-text">Друзья в списке</span>
                <span class="frends-col__title-count-my">0</span>
            </div>
            <input id="frends-search__frends-my" class="frends-search__frends-my" type="text" placeholder="Начните вводить имя друга">
            <div id="friends__list-my" class="friends__list-my"></div>
        </div>
    </div>

    <div class="frends-row__bottom">
        <button class="frends__btn-save">Сохранить</button>
    </div>
</div>