<!DOCTYPE html>
<html lang="ru-RU">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://vk.com/js/api/openapi.js?159" type="text/javascript"></script>
    <title>{{htmlWebpackPlugin.options.title}}</title>
</head>

<body>
    <div class="wrapper">
        <div class="header-container"></div>
        
        <div class="app-container">
            <div class="nav-menu-container"></div>
            <div class="main-container"></div>
        </div>
    </div>
</body>

</html>